@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "bebas neue", sans-serif;
  font-size: 12px;
  background-color: #ececec;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: #afafaf;
}

header h1 {
  margin-left: 10px;
  font-size: 5.8em;
  letter-spacing: 0.09em;
  color: rgb(204, 18, 18);
  height: 1em;
}

.points {
  font-size: 3em;
  margin-right: 10px;
  display: flex;
  align-self: center;
  min-width: 4.3em;
  justify-content: space-around;
}

.name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0 20px;
}

.name-container label {
  font-size: 2.5em;
}

.name-container input {
  font-size: 18px;
  padding: 2px;
  min-width: 15em;
  text-align: center;
  border: none;
  margin-top: 8px;
  border-radius: 50px;
}

.tema-container {
  margin: 10px 5px;
  display: flex;
  flex-direction: column;
}

.tema-container ul {
  height: 27.5em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 10px;
}

.tema-container ul li {
  font-size: 1.8em;
}

.tema-ad-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.tema-ad-container input {
  margin: 0 20px 8px;
  font-size: 20px;
  padding: 2px;
  text-align: center;
  border: none;
  border-radius: 50px;
}

.tema-ad-container button {
  height: 40px;
  margin: 10px 60px 10px;
  border-radius: 7px;
  font-size: 20px;
}

.play {
  align-self: center;
  font-size: 22px;
  border-radius: 7px;
  padding: 2px;
  min-width: 8em;
  min-height: 1.5em;
}

.game {
  display: flex;
  flex-direction: column;
}

.temas {
  min-height: 40em;
}

.temas ul {
  margin: 20px;
  list-style: none;
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  display: flex;
}

.temas ul div li {
  font-size: 40px;
  color: white;
  text-align: center;
  padding: 2px;
  text-decoration: none;
}

.mandatory-scroll-snapping > div {
  scroll-snap-stop: always;
}

.temas ul div {
  scroll-snap-stop: always;
  min-width: 100%;
}

.hide {
  display: none;
}
