@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "bebas neue", sans-serif;
  font-size: 12px;
  background-color: #e2e2e2;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 70px;
  background-color: #afafaf;
}

input:focus {
  outline: none;
  border: 1px solid rgb(180, 180, 180);
}

header h1 {
  /* margin-left: 10px; */
  font-size: 5.8em;
  letter-spacing: 0.09em;
  color: rgb(204, 18, 18);
  height: 1em;
}

.points {
  font-size: 3em;
  /* margin-right: 10px; */
  display: flex;
  align-self: center;
  min-width: 57px;
  justify-content: space-around;
}

.menu-header {
  min-width: 57px;
}

.name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0 20px;
}

.name-container label {
  font-size: 2.5em;
}

.name-container input {
  font-size: 18px;
  padding: 2px;
  min-width: 15em;
  text-align: center;
  border: none;
  margin-top: 8px;
  border-radius: 50px;
}

.tema-container {
  margin: 10px 5px;
  display: flex;
  flex-direction: column;
}

.tema-container ul {
  height: 45vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 10px;
}

.tema-container ul li {
  font-size: 1.8em;
}

.tema-ad-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.tema-ad-container input {
  margin: 0 20px 8px;
  font-size: 20px;
  padding: 2px;
  text-align: center;
  border: none;
  border-radius: 50px;
}

.tema-ad-container button {
  height: 40px;
  margin: 10px 60px 10px;
  border-radius: 7px;
  font-size: 20px;
  border: none;
}

.play {
  font-family: "bebas neue";
  /* border: 1px solid #fff; */
  align-self: center;
  font-size: 22px;
  border-radius: 7px;
  padding: 2px;
  min-width: 8em;
  min-height: 1.5em;
}

.game {
  display: flex;
  flex-direction: column;
}

.name-player {
  align-self: center;
  font-size: 1.9em;
  background-color: #ffffff;
  padding: 3px;
  border-radius: 7px;
}

.temas {
  height: 32em;
}

.temas ul {
  scroll-snap-type: x mandatory;
  scroll-snap-stop: normal;
  margin: 0px 20px 20px;
  list-style: none;
  overflow: auto;
  white-space: nowrap;
  display: flex;
}

.big-li {
  font-size: 40px;
  color: #003985e0;
  text-align: center;
  padding: 2px;
  text-decoration: none;
}

.small-li {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  list-style: none;
  color: #000000;
  line-height: 40px;
}

.select-play {
  align-self: flex-end;
  background-color: white;
  border: none;
  font-size: 22px;
  font-family: "bebas neue";
}

.temas ul div {
  scroll-snap-align: center;
  min-width: 100%;
  height: 29em;
}

.buttons-game {
  align-self: center;
  display: flex;
  min-width: 100%;
  justify-content: space-around;
  align-items: center;
  margin: 5px 0 20px;
}

.stop {
  text-align: center;
  border-radius: 20px;
  border: none;
  color: rgb(196, 0, 0);
  padding: 3px;
  width: 4em;
  font-family: "bebas neue";
  letter-spacing: 0.8px;
  font-size: 2.5em;
}

.sum {
  text-align: center;
  border-radius: 20px;
  border: none;
  width: 4em;
  padding: 3px;
  font-family: "bebas neue";
  letter-spacing: 0.8px;
  font-size: 2.5em;
}

.ad-in-game {
  display: flex;
  flex-direction: column;
}

#ad-input {
  font-size: 1.5em;
  text-align: center;
  border: none;
  margin: 0 20px 10px;
  border-radius: 50px;
}

.ad-button {
  border-radius: 20px;
  border: none;
  align-self: center;
  padding: 8px;
  font-size: 20px;
  font-family: "bebas neue";
}

.turn {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 500;
}

.turn p {
  margin-bottom: 5px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}

.turn-points {
  list-style: none;
  font-size: 2.8em;
  font-weight: bold;
  color: rgb(0, 50, 126);
}

.hide {
  display: none;
}

.dont-show {
  visibility: hidden;
}

.big-li {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-play {
  font-size: 25px;
  text-align: center;
  border: none;
  max-width: 100%;
  border-radius: 50px;
  order: 500;
}

.put-in-line {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 40px;
}

.select-play {
  align-self: center;
  margin-left: 10px;
  justify-self: flex-end;
}

.point-in-p {
  color: rgb(46, 141, 89);
  text-align: center;
  font-size: 30px;
  border-radius: 5px;
  margin-left: 10px;
}

.zero {
  color: rgb(196, 0, 0);
  text-decoration: line-through;
}

img {
  width: 30px;
}

.delete {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 310px;
  top: 218px;
}

.hide-selected {
  display: none;
}

.selected {
  background-color: rgb(141, 141, 141);
}

.horizontal-line {
  background-color: black;
  height: 1px;
  width: 100%;
}

footer {
  margin-top: 70px;
}

.footer-content {
  display: flex;
  justify-content: center;
  background-color: white;
  font: 0.8em sans-serif;
}
